body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popular{
  text-decoration:underline;
  text-decoration-color:gold;
  position: relative;
}

.poplular::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 20px;
}


code {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.screenshot {
  height: auto;
  width: auto;
}


/* Splide */
.card-title{
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-text:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.splide__slide img {
  width: 100%;
  height: 100%;
}

.splide__track{
  margin-top: 10px;
  margin-bottom: 20px;
}


/* home page lists */
li {
  list-style-type:'';
  margin: 0;
  padding: 0;
}

.list ul{
  margin: 0;
  padding: 0;
}

.list li{
  width: 300px;
  margin-bottom: 20px;
}

.list img{
  margin-right: 2rem;
  flex-direction: column;
}

.list a{
  text-decoration: none;
  color: #9147ff;
}

.list a:hover{
  text-decoration: underline;
  color: #9147ff;
}

.listImg{
  width: auto;
  height: 75px;

}

.listCon{
 display: flex;
}
.listTxt{
  display: flex;
  flex-direction: column;
  color: #858585;
}

.listRow{
  display: flex;
  flex-direction: row;
}

.word{
  text-decoration:underline;
  text-decoration-color:gold;
}
/* list color and hover on game details page */
.genre a{
  color: #9147ff;
}
.genre a:hover{
  text-decoration: underline;
  color: #9147ff;
}

.platform a{
  color: #9147ff;
}
.platform a:hover{
  text-decoration: underline;
  color: #9147ff;
}

.mode a{
  color: #9147ff;
}
.mode a:hover{
  text-decoration: underline;
  color: #9147ff;
}

.perspective a{
  color: #9147ff;
}
.perspective a:hover{
  text-decoration: underline;
  color: #9147ff;
}

/* each game detail link */

.btnRow{
  width: 260px;
  position: relative;
  left: 13px;
  margin-top: 20%;
}

.btn.btn-info {
  margin-top: 25px;
  color: #fff;
  background-color: #9147ff;
  border-color: #9147ff;
}

.btn.btn-info:hover {
  color: #fff;
  background-color: #7314ff;
  border-color: #6c0aff;
}

.dRow a{
  text-decoration: none;
  color: #9147ff;
}

.dRow a:hover{
  text-decoration: underline;
  color: #9147ff;
}

.dCol{
  margin-bottom: 20px;
}

.art{
  width: auto;
  height: 95px;
  margin-bottom: 20px;
}


.gameTitle{
  font-size: 60px;
}

.gameDate{
  font-size: 25px;
}

.gameSub{
  font-size: 18px;
}

/* navbar */
.navbar{
  margin-bottom: 20px;
  background-color: #323A45;
}

/* discover channel */
.tab-content>.tab-pane {
  margin-bottom: 20px;
}

button#uncontrolled-tab-example-tab-platform{
  color: #333333
}

button#uncontrolled-tab-example-tab-genre{
  color: #333333
}

button#uncontrolled-tab-example-tab-mode{
  color: #333333
}

button#uncontrolled-tab-example-tab-platform.active {
  color: #fff;
  background-color: #9147ff;
  border-color: #dee2e6 #dee2e6 #fff;
}

button#uncontrolled-tab-example-tab-genre.active {
  color: #fff;
  background-color: #9147ff;
  border-color: #dee2e6 #dee2e6 #fff;
}

button#uncontrolled-tab-example-tab-mode.active {
  color: #fff;
  background-color: #9147ff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.gameArt{
  width: auto;
  height: 95px;
  margin-bottom: 20px;
}

.btn.btn-outline-secondary {
  /* color: #9146ff; */
  /* border-color: #9147ff; */
  background-color: #f7f8fa;
  border-color: #dde3e8;
  color: #4E4E4E;
}

.btn.btn-outline-secondary:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.navbar-nav .dropdown-menu :hover{
color:#212529;
background-color: #e9ecef;
}

/* game detail txt */
.detailArt{
  width: auto;
  margin-bottom: 20px;
}

.title{
  font-weight: 600;
  font-size: 12.992px;
}
.about{
  font-size: 12.992px;
}

.perspective{
  font-size: 12.992px;
}

.mode{
  font-size: 12.992px;
}

.platform{
  font-size: 12.992px;
}

.genre{
  font-size: 12.992px;
}
